<div class="col-md-4 mx-auto">

  <div class="card card-body">
    <form action="/books/add" method="POST">
      <div class="form-group">
        <input type="text" name="title" class="form-control" placeholder="Book title" autofocus required>
      </div>
      <div class="form-group">
        <input type="text" name="author" class="form-control" placeholder="Book author" required>
      </div>
      <div class="form-group">
        <input 
          type="text" 
          name="isbn" 
          class="form-control" 
          placeholder="ISBN" 
        >
      </div>
      <button class="btn btn-primary btn-block">Save</button>
    </form>
  </div>

</div>